# Use this notbook for your 3 choices of APIs

In [2]:
import pandas as pd
import requests
from pandas import json_normalize
import getpass
# apikey = getpass.getpass()

# WallstreetBets
Data of the wallstreetbets subreddit

In [130]:
res = requests.get('https://tradestie.com/api/v1/apps/reddit?date=2022-04-03')
# To select by date
#  'https://tradestie.com/api/v1/apps/reddit?date=2022-04-03'

In [131]:
data = res.json()
df = pd.DataFrame(data)
df.head(3)

   no_of_comments sentiment  sentiment_score ticker
0             131   Bullish            0.130    GME
1              90   Bullish            0.159    AMC
2              25   Bullish            0.257   TSLA

### Possible projects
Analysing the influence of social media activity in one of the most influential Platforms on the stock price.
Questions would be wich kind of stocks are affected?
Can this data be used as an indicator?

# UK police statistics

In [122]:
res = requests.get('https://data.police.uk/api/stops-no-location?force=cleveland&date=2021-12')

In [123]:
res

In [129]:
data = res.json()
# data

In [125]:
df = json_normalize(data)

In [126]:
df.head(3)

,age_range,outcome,involved_person,self_defined_ethnicity,gender,legislation,outcome_linked_to_object_of_search,datetime,removal_of_more_than_outer_clothing,location,operation,officer_defined_ethnicity,type,operation_name,object_of_search,outcome_object.id,outcome_object.name
0,25-34,A no further action disposal,True,White - English/Welsh/Scottish/Northern Irish/...,Male,Misuse of Drugs Act 1971 (section 23),None,2021-12-01T00:00:00+00:00,None,None,None,White,Person search,None,Controlled drugs,bu-no-further-action,A no further action disposal
1,over 34,A no further action disposal,True,None,Male,Police and Criminal Evidence Act 1984 (section 1),None,2021-12-01T00:00:00+00:00,None,None,None,White,Person search,None,Offensive weapons,bu-no-further-action,A no further action disposal
2,over 34,A no further action disposal,True,White - English/Welsh/Scottish/Northern Irish/...,Male,Police and Criminal Evidence Act 1984 (section 1),None,2021-12-01T00:00:00+00:00,None,None,None,White,Person search,None,Article for use in theft,bu-no-further-action,A no further action disposal

In [128]:
df.groupby(['age_range','gender']).agg({'gender':len})

                  gender
age_range gender
10-17     Female       2
          Male        35
18-24     Female       5
          Male        39
25-34     Female      10
          Male        37
over 34   Female       5
          Male        48

### Interesting fact:
Males are, depending on age group 3.7 to 17.5 times more likely to be suspects in searches.

### Possible project
Analyze if there are patterns in locations, the kind of crime and demographical data.

# Polygon.io financial data

In [133]:
import getpass
apikey = getpass.getpass()

········

In [148]:
response = requests.get('https://api.polygon.io/v1/open-close/GME/2022-01-03?adjusted=false&apiKey='+apikey)
response

In [149]:
data = response.json()
data

{'status': 'OK',
 'from': '2022-01-03',
 'symbol': 'GME',
 'open': 149.23,
 'high': 159.38,
 'low': 149.21,
 'close': 152.84,
 'volume': 1417001.0,
 'afterHours': 152.75,
 'preMarket': 149.5}

In [150]:
df = json_normalize(data)

In [152]:
df

,status,from,symbol,open,high,low,close,volume,afterHours,preMarket
0,OK,2022-01-03,GME,149.23,159.38,149.21,152.84,1417001.0,152.75,149.5

#### Project idea
Taking historical stock data, to search  for patterns in combination with other data for example the reddit data.